# Source texts used to seed assessment items. These are copyrighted works held
# locally for reference; they must never be committed or redistributed. Only the
# derived item bank — freshly authored per assessment.md §1.2 — belongs in git.
textbooks/
